In [1]:
# Testando a API remota
import json
import pandas as pd
import numpy as np
from flask import Flask, request, Response

df2 = pd.read_csv("\\Users\\micro\\Desktop\\repos\\3_ciclo_intermediario\\4_hackday\\webapp\\test.csv")

df_test = df2[df2['id'].isin([35575, 877])] # testando a predição

In [2]:
# converte o dataframe em json para fazer a comunicação entre os sistemas
data = json.dumps(df_test.to_dict(orient = 'records'))

In [1]:
# data.json()

In [3]:
# data = json.loads(data)

In [2]:
# data[0]

In [4]:
# Chamada em API

import requests

url = 'https://costa-del-data-api.onrender.com/costa_del_data/predict'
header = {'Content-type': 'application/json'}
data = data

r = requests.post(url, data = data, headers = header) # post: precisa enviar algum dado para requerir
print('Status Code {}'.format(r.status_code)) # para ver se a requisição é válida ou não

Status Code 200

In [3]:
# type(r.json()[0])

In [14]:
# r.json()[0].keys()

In [15]:
# r

In [5]:
df_api_call = pd.DataFrame(r.json(), columns = r.json()[0].keys())
df_api_call.head()

,id,classificacao_do_hotel,meses_da_reserva_ate_o_check_in,numero_de_pernoites_reservadas,numero_de_hospedes,regime_de_alimentacao,nacionalidade,forma_de_reserva,ja_se_hospedou_anteriormente,tipo_do_quarto_reservado,reserva_feita_por_agencia_de_turismo,reserva_feita_por_empresa,reserva_com_estacionamento,reserva_com_observacoes,predicao
0,35575,5,3,4,2,Café da manha,spain,Balcão,0,Topaz,1,0,1,1 a 3,0
1,877,5,1,1,2,Café da manha,spain,Agência,0,Amethyst,1,0,0,1 a 3,0

In [6]:
# Mensagem mostrada ao usuário se a reserva será cancelada ou não
df_api_call['predicao_categorica'] = df_api_call.apply(lambda x: 'cancelada' if x['predicao'] == 1 else 'confirmada', axis = 1)

for i in range(len(df_api_call)): # quantidade de ids escolhidos para fazer as predições
    print('A reserva de id {} será {}.'.format(df_api_call.loc[i, 'id'], df_api_call.loc[i, 'predicao_categorica']))

A reserva de id 35575 será confirmada.
A reserva de id 877 será confirmada.

In [16]:
# df_api_call